* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

body {
  position: relative;
}

header {
  font-size: 30px;
}

p,
ul {
  color: rgb(102, 99, 99);
}

nav {
  width: 30%;
  min-height: 100vh;
  background-color: #a9a9f9;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
}

section {
  position: relative;
  background-color: #f3f3f3;
  float: right;
  width: 70%;
  margin-left: 30%;
  padding-bottom: 50px;
}

section header {
  padding: 50px;
}

section p {
  margin-right: 50px;
  margin-left: 30px;
}

section ul {
  margin-left: 100px;
}

code {
  background-color: #d5d0d0;
  border-radius: 5px;
  padding: 5px;
}

nav header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul {
  margin-left: 10px;
  border-top: 1px solid rgb(102, 99, 99);
  padding-top: 20px;
  padding-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  body header {
    font-size: 14px;
  }
  body p,
  ul {
    font-size: 11px;
  }
  section {
    margin-left: 0;
    width: 100%;
    float: none;
  }
  nav {
    width: 100%;
    min-height: auto;
    position: relative;
  }
}
